.ahliwaris-hide {
    display: none;
}

.btn-ya {
    background-color: #1443BD;
    color: #fff;
    border: 2px solid #1443BD;
    width: 100px !important;
    padding: 5px 0;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
}

.btn-ya:hover {
    background-color: #fff;
    border: 2px solid #1443BD;
    color: #fff;
}

.btn-tidak {
    background-color: #fff;
    color: #1443BD;
    width: 100px;
    border: 2px solid #1443BD;
    padding: 5px 0;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;

}

.btn-tidak:hover {
    background-color: #1443BD;
    border: 2px solid #1443BD;
    color: #1443BD;
}

table td {
    padding: 10px;
}

@media (max-width: 599px) {

    textarea,
    textarea::placeholder {
        font-size: 12px;
    }
}