 .icon-center {
     text-align: center;
     margin: 0 auto;
 }

 .header {
     width: 100%;
     height: 100vh;
     background: url('../image/Header1.png') no-repeat 50% 50%;
     background-size: cover;
 }

 /* START BACKGROUND */
 .bg-1 {
     padding-top: 600;
     left: 0;
     float: left;
     width: 700px;
     position: absolute;
     float: left;
     z-index: -10 !important;
 }

 .bg-1 img {
     opacity: 0.1;
 }

 .bg-2 {
     padding-top: 0;
     right: 0;
     width: 700px;
     position: absolute;
     float: right;
     z-index: -10 !important;
 }

 .bg-2 img {
     opacity: 0.1;
 }

 .bg-plan {
     position: absolute;
     float: right !important;
     right: 0 !important;
     text-align: right;
     margin-top: 820px;
 }

 .bg-konten {
     width: 100%;
     height: 1000px;
     margin-top: 870px;
     background: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #1443BD;
     z-index: -10 !important;
     position: absolute;
 }

 .bg-3 {
     bottom: -2500 !important;
     right: 0;
     width: 600px;
     position: absolute;
     float: right;
     z-index: -10 !important;
 }

 .bg-3 img {
     opacity: 0.1;
 }

 /* END BACKGROUND */

 /*START KONTEN 1*/
 .konten-1-tile {
     height: 130px;
     left: 561px;
     top: 912px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 48px;
     line-height: 65px;
     color: #0e2c7a;
 }

 .konten-1-desc {
     height: 142px;
     left: 561px;
     top: 1062px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 28px;
     color: #0e2c7a;
 }

 .icon-konten1 {
     width: 350px;
 }

 /*END KONTEN 1*/

 /*START KONTEN 2*/
 .konten-2-tile {
     margin-bottom: 10px;
     width: 140%;
     height: 65px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 48px;
     line-height: 65px;
     text-align: center;
     color: #0e2c7a;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
 }

 .konten-2-desc {
     height: 44px;
     width: 140%;

     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
     text-align: center;
     color: #0e2c7a;
     flex: none;
     order: 0;
     flex-grow: 1;
 }

 /*END KONTEN 2*/


 /*START KONTEN 3*/
 .konten-3-tile {
     height: 44px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 32px;
     line-height: 44px;
     margin: 0 auto;
     align-items: center;
     text-align: center;
     color: #333333;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .konten-3-subtile {
     height: 33px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 33px;
     margin: 15px 0;
     align-items: center;
     text-align: center;
     color: #1443BD;
     flex: none;
     order: 1;
     flex-grow: 0;
 }

 .konten-3-desc {
     height: 132px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 28px;
     margin: 0 auto;
     text-align: center;
     color: #0E2C7A;
     flex: none;
     order: 1;
     flex-grow: 0;
 }

 .konten-3-img {
     margin: 0 auto;
     text-align: center;
     margin-bottom: 30px;
     width: 150px;
     height: 150px
 }

 .icon-frame-title {
     height: 33px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 33px;
     text-align: center;
     flex: none;
     order: 0;
     align-self: stretch;
     flex-grow: 0;
     color: #0E2C7A;
 }

 .icon-frame-desc {
     height: 71px;
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
     text-align: center;
     color: #0E2C7A;
     flex: none;
     order: 1;
     align-self: stretch;
     flex-grow: 0;
 }

 /*END KONTEN 3*/

 /* START MULTIPRODUCT */
 .konten-produk-kategori {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 22px;
     display: flex;
     align-items: center;
     color: #B21300;
 }

 .konten-produk-tile {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 700;
     font-size: 24px;
     line-height: 33px;
     display: flex;
     align-items: center;
     color: #333333;
 }

 .konten-produk-subtitle {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 20px;
     line-height: 27px;
     display: flex;
     align-items: center;
     color: #1443BD;
 }

 .konten-produk-desc {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 28px;
     color: #0E2C7A;
     flex: none;
     order: 2;
 }

 .produk-button-premi {
     margin-right: 30px;
     border-radius: 20px;
     color: #1443bd;
     font-size: 12px;
     background-color: #fff;
 }

 .produk-button-details {
     border-radius: 20px;
     font-size: 12px;
     background-color: #1443bd;
 }

 /*END MULTIPRODUCT */

 /* START KONTEN 4 */
 .konten-4-tile {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 32px;
     line-height: 44px;
     color: #0E2C7A;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .konten-4-desc {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
     color: #0E2C7A;
     flex: none;
     order: 1;
     flex-grow: 0;
 }

 .konten-4-img {
     margin: 0 auto;
     text-align: center;
     margin-bottom: 30px;
     width: 100px;
     height: 100px;
 }

 /* END KONTEN 4 */

 /* START KONTEN 5 */
 .konten-5-tile {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 24px;
     line-height: 33px;
     color: #0E2C7A;
     flex: none;
     order: 0;
     flex-grow: 0;
 }

 .konten-5-desc {
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 19px;
     color: #0E2C7A;
     flex: none;
     order: 1;
     flex-grow: 0;
 }

 /* END KONTEN 5 */

 @media (min-width: 768px) and (max-width: 991px) {
     .konten-1-tile {
         height: 130px;
         font-size: 42px;
     }

     .konten-2-tile {
         font-size: 42px;
         height: 60px;
     }

     .bg-konten {
         width: 100%;
         height: 1150px;
         margin-top: 1550px;
         background: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #1443BD;
         z-index: -10 !important;
         position: absolute;
     }

     .bg-plan {
         margin-top: 1500px;
     }

     .bg-plan img {
         width: 300px;
     }

     .bg-1 {
         padding-top: 500px;
         width: 75% !important;
     }

     .bg-1 img {
         width: 75% !important;
     }

     .bg-2 {
         padding-top: 400px;
         width: 75% !important;
         text-align: right;
     }

     .bg-2 img {
         width: 75% !important;
     }

     .bg-3 {
         bottom: -3200 !important;
     }
 }

 @media (min-width: 768px) {
     .bd-placeholder-img-lg {
         font-size: 3.5rem;
     }
 }

 @media (min-width: 600px) and (max-width: 767px) {
     /* .menu {
         width: 100%;
         padding-right: 0px !important;
     }

     nav ul {
         padding: 0px;
     }

     nav ul li {
         display: inline-block;
         padding: 0px;
     } */

     .bg-1 {
         padding-top: 400px;
         width: 60% !important;
     }

     .bg-1 img {
         width: 60% !important;
     }

     .bg-2 {
         padding-top: 400px;
         width: 60% !important;
         text-align: right;
     }

     .bg-2 img {
         width: 60% !important;
     }

     .bg-konten {
         height: 1860px;
         margin-top: 1820px;
     }

     .bg-plan {
         margin-top: 1800px;
     }

     .bg-plan img {
         width: 300px;
     }

     .bg-3 {
         bottom: -4900 !important;
     }

     .konten-2-tile {
         font-size: 39px;
         height: 60px;
         line-height: 40px;
     }

 }

 @media (max-width: 599px) {
     .icon-konten1 {
         width: 200px;
         text-align: center;
         margin: 0 auto;
     }

     .bg-1 {
         padding-top: 400px;
         width: 60% !important;
     }

     .bg-1 img {
         width: 60% !important;
     }

     .bg-2 {
         padding-top: 400px;
         width: 60% !important;
         text-align: right;
     }

     .bg-2 img {
         width: 60% !important;
     }

     .bg-plan {
         margin-top: 1500px;
     }

     .bg-plan img {
         width: 300px;
     }

     .bg-konten {
         width: 100%;
         height: 1850px;
         margin-top: 1500px;
         background: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #1443BD;
         z-index: -10 !important;
         position: absolute;
     }

     .bg-3 {
         bottom: -4400 !important;
     }

     .konten-1-tile {
         height: 120px;
         font-size: 39px;
     }

     .konten-1-desc {
         height: 172px;
     }

     .konten-2-tile {
         font-size: 39px;
         height: 60px;
     }

     .konten-2-desc {
         height: 80px;
     }

     .konten-3-desc {
         height: 220px;
     }

     .konten-3-img {
         width: 70px !important;
         height: 80px;
     }

     .konten-4-img {
         padding-top: 10px;
         width: 70px !important;
         height: 80px;
     }
 }

 @media (min-width: 300px) and (max-width: 399px) {
     .bg-1 {
         padding-top: 900px;
         width: 60% !important;
     }

     .bg-1 img {
         width: 60% !important;
     }

     .bg-2 {
         padding-top: 900px;
         width: 60% !important;
         text-align: right;
     }

     .bg-2 img {
         width: 60% !important;
     }

     .bg-plan {
         margin-top: 1650px;
     }

     .bg-plan img {
         width: 200px;
     }

     .bg-konten {
         width: 100%;
         height: 2000px;
         margin-top: 1620px;
         background: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #1443BD;
         z-index: -10 !important;
         position: absolute;
     }

     .bg-3 {
         bottom: -4500 !important;
     }

     .konten-1-tile {
         height: 120px;
         font-size: 32px;
         line-height: 35px;
     }

     .konten-1-desc {
         height: 275px;
     }

     .konten-2-tile {
         font-size: 32px;
         line-height: 35px;
         height: 50px;
     }

     .konten-2-desc {
         height: 90px;
     }

     .konten-3-desc {
         height: 320px;
     }
 }

 @media (max-width: 299px) {
     .bg-1 {
         padding-top: 2900;
         width: 200px !important;
         padding-right: 0 !important;
         padding-left: 0 !important;
     }

     .bg-1 img {
         width: 200px !important;
     }

     .bg-2 {
         width: 200px !important;
         padding-right: 0 !important;
         padding-left: 0 !important;
     }

     .bg-2 img {
         width: 200px !important;
     }

     .bg-plan {
         margin-top: 1670px;
     }

     .bg-plan img {
         width: 200px;
     }

     .bg-konten {
         width: 100%;
         height: 2200px;
         margin-top: 1650px;
         background: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #1443BD;
         z-index: -10 !important;
         position: absolute;
     }

     .bg-3 {
         bottom: -4900 !important;
     }

     .bg-2 img {
         width: 290px !important;
     }

     .konten-1-tile {
         height: 110px;
         line-height: 35px;
         font-size: 30px;
     }

     .konten-1-desc {
         height: 240px;
         font-size: 14px;
     }

     .konten-2-tile {
         font-size: 32px;
         height: 80px;
         line-height: 35px;
     }

     .konten-2-desc {
         height: 130px;
     }

     .konten-3-tile {
         font-size: 32px;
         height: 40px;
         line-height: 35px;
     }

     .konten-3-desc {
         height: 350px;
     }
 }