:root {
    --contentWidth: clamp(30em, 50vw, 600px);
}

*,
::before,
::after {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

form {
    margin-block: 1em;
    margin-inline: auto;
    width: var(--contentWidth);
}



.controls {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.row>div {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
}

label,
button {
    flex-grow: 1;
    cursor: pointer;
}

legend {
    border-inline-start: 1px solid #000;
    border-inline-end: 1px solid #000;
    margin-inline: 2em;
    padding-inline: 1em;
}

.invalid {
    border-color: red !important;
}

p.guidance {
    text-align: center;
    color: #DC3545;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.invalid p.guidance {
    color: #000f;
    visibility: visible;
    opacity: 1;
}