  .bg-sio1 {
      padding-top: 900 !important;
      left: 0;
      float: left;
      width: 900px;
      position: absolute;
      float: left;
      z-index: -10 !important;
  }

  .bg-sio1 img {
      opacity: 0.1;
  }

  .bg-sio2 {
      padding-top: 900;
      right: 0;
      float: right;
      width: 700px;
      position: absolute;
      z-index: -10 !important;
  }

  .bg-sio2 img {
      opacity: 0.1;
  }


  /* END HEADER */

  /*----------step-wizard------------*/
  .read {
      background: #70BD44;
      color: #000;
  }

  .dis-button1-ya {
      background: #777777;
      color: #FFFFFF;
      border: 2px solid #777777;
      width: 100px;
      padding: 5px 0;
      border-radius: 20px;
  }

  .dis-button1-tidak {
      background: #777777;
      color: #FFFFFF;
      border: 2px solid #777777;
      width: 100px;
      padding: 5px 0;
      border-radius: 20px;
  }

  .dis-button2-ya {
      background: #777777;
      color: #FFFFFF;
      border: 2px solid #777777;
      width: 100px;
      padding: 5px 0;
      border-radius: 20px;
  }

  .dis-button2-tidak {
      background: #777777;
      color: #FFFFFF;
      border: 2px solid #777777;
      width: 100px;
      padding: 5px 0;
      border-radius: 20px;
  }

  .dis-button3-ya {
      background: #777777;
      color: #FFFFFF;
      border: 2px solid #777777;
      width: 100px;
      padding: 5px 0;
      border-radius: 20px;
  }

  .dis-button3-tidak {
      background: #777777;
      color: #FFFFFF;
      border: 2px solid #777777;
      width: 100px;
      padding: 5px 0;
      border-radius: 20px;
  }

  .dis-button4-ya {
      background: #777777;
      color: #FFFFFF;
      border: 2px solid #777777;
      width: 100px;
      padding: 5px 0;
      border-radius: 20px;
  }

  .dis-button4-tidak {
      background: #777777;
      color: #FFFFFF;
      border: 2px solid #777777;
      width: 100px;
      padding: 5px 0;
      border-radius: 20px;
  }

  .disabled1 {
      background: #777777 !important;
      color: #FFFFFF !important;
      border: 2px solid #777777 !important;
  }

  .disabled2 {
      background: #777777 !important;
      color: #FFFFFF !important;
      border: 2px solid #777777 !important;
  }

  .disabled3 {
      background: #777777 !important;
      color: #FFFFFF !important;
      border: 2px solid #777777 !important;
  }

  .disabled4 {
      background: #777777 !important;
      color: #FFFFFF !important;
      border: 2px solid #777777 !important;
  }

  .disabled5 {
      background: #777777 !important;
      color: #FFFFFF !important;
      border: 2px solid #777777 !important;
  }

  .step-paragraph {
      font-size: 16px;
      text-align: left;

  }

  .step-paragraph-active {
      background: #70BD44;
      border: 3px solid #1443BD;
      border-radius: 5px;
  }

  .step-paragraph-disabled {
      background-color: #777777;
      color: #000;
  }

  /* START BUTTON */
  .btn-ya1 {
      background-color: #fff;
      border: 2px solid #1443BD;
      color: #1443BD;
      width: 100px;
      padding: 5px 0;
      border-radius: 20px;
  }

  .btn-ya1:hover {
      background-color: #1443BD;
      border: 2px solid #1443BD;
      color: #fff;
  }

  .btn-tidak1 {
      width: 100px;
      border: 2px solid #1443BD;
      background-color: #1443BD;
      color: #fff;
      padding: 5px 0;
      border-radius: 20px;
  }

  .btn-tidak1:hover {
      background-color: #fff;
      border: 2px solid #1443BD;
      color: #1443BD;
  }

  .btn-ya2 {
      width: 100px;
      background-color: #fff;
      border: 2px solid #1443BD;
      color: #1443BD;
      padding: 5px 0;
      border-radius: 20px;
  }

  .btn-ya2:hover {
      background-color: #1443BD;
      border: 2px solid #1443BD;
      color: #fff;
  }

  .btn-tidak2 {
      width: 100px;
      border: 2px solid #1443BD;
      background-color: #1443BD;
      color: #fff;
      padding: 5px 0;
      border-radius: 20px;
  }

  .btn-tidak2:hover {
      background-color: #fff;
      border: 2px solid #1443BD;
      color: #1443BD;
  }

  .btn-ya3 {
      width: 100px;
      background-color: #fff;
      border: 2px solid #1443BD;
      color: #1443BD;
      padding: 5px 0;
      border-radius: 20px;
  }

  .btn-ya3:hover {
      background-color: #1443BD;
      border: 2px solid #1443BD;
      color: #fff;
  }

  .btn-tidak3 {
      width: 100px;
      border: 2px solid #1443BD;
      background-color: #1443BD;
      color: #fff;
      padding: 5px 0;
      border-radius: 20px;
  }

  .btn-tidak3:hover {
      background-color: #fff;
      border: 2px solid #1443BD;
      color: #1443BD;
  }

  .btn-ya4 {
      width: 100px;
      background-color: #fff;
      border: 2px solid #1443BD;
      color: #1443BD;
      padding: 5px 0;
      border-radius: 20px;
  }

  .btn-ya4:hover {
      background-color: #1443BD;
      border: 2px solid #1443BD;
      color: #fff;
  }

  .btn-tidak4 {
      width: 100px;
      border: 2px solid #1443BD;
      background-color: #1443BD;
      color: #fff;
      padding: 5px 0;
      border-radius: 20px;
  }

  .btn-tidak4:hover {
      background-color: #fff;
      border: 2px solid #1443BD;
      color: #1443BD;
  }

  /* END BUTTON */

  @media (min-width: 992px) {
      .bg-sio1 {
          padding-top: 400px;
          width: 400px !important;
      }

      .bg-sio1 img {
          width: 400px !important;
      }

      .bg-sio2 {
          padding-top: 400px;
          width: 400px !important;
      }

      .bg-sio2 img {
          width: 400px !important;
      }
  }

  @media (min-width: 768px) and (max-width: 991px) {
      .bg-sio1 {
          padding-top: 400px;
          width: 400px !important;
      }

      .bg-sio1 img {
          width: 400px !important;
      }

      .bg-sio2 {
          padding-top: 400px;
          width: 400px !important;
      }

      .bg-sio2 img {
          width: 400px !important;
      }

  }

  @media (min-width: 768px) {}

  @media (min-width: 600px) and (max-width: 767px) {
      .bg-sio1 {
          padding-top: 900;
          width: 300px !important;
      }

      .bg-sio1 img {
          width: 400px !important;
      }

      .bg-sio2 {
          padding-top: 400px;
          width: 400px !important;

      }

      .bg-sio2 img {
          width: 400px !important;
      }
  }

  @media (max-width: 599px) {
      .bg-sio1 {
          padding-top: 900;
          width: 300px !important;
      }

      .bg-sio1 img {
          width: 400px !important;
      }

      .bg-sio2 {
          padding-top: 400px;
          width: 400px !important;
      }

      .bg-sio2 img {
          width: 400px !important;
      }

      textarea,
      textarea::placeholder {
          font-size: 12px;
      }

  }

  @media (min-width: 300px) and (max-width: 399px) {
      .col-3 {
          width: 50%;
          margin-top: 10px;
      }

      .bg-sio1 {
          padding-top: 900;
          width: 300px !important;
      }

      .bg-sio1 img {
          width: 300px !important;
      }

      .bg-sio2 {
          width: 200px !important;
      }

      .bg-sio2 img {
          width: 200px !important;
      }
  }

  @media (max-width: 299px) {
      .bg-sio1 {
          padding-top: 2900;
          width: 200px !important;
          padding-right: 0 !important;
          padding-left: 0 !important;
      }

      .bg-sio1 img {
          width: 200px !important;
      }

      .bg-sio2 {
          width: 200px !important;
          padding-right: 0 !important;
          padding-left: 0 !important;
      }

      .bg-sio2 img {
          width: 200px !important;
      }

      .col-3 {
          width: 50%;
          margin-top: 10px;
      }
  }