body {
    height: 100%;
    padding: 0;
}

/* START HEADER */
header {
    width: 100%;
    height: 70vh;
    background: url('../image/Header2.png') no-repeat 50% 50%;
    background-size: cover;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;

}

.logo img {
    width: 100px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 99 !important;

}

.nav-select {
    font-size: 15px !important;
    background-color: transparent;
    border: none;
    color: #fff !important;
}


nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding: 7px 30px 10px 0px;
    transition: 1s;
}


nav.blue ul {
    height: 80px;
    background: #0E2C7A !important;
}

nav ul li {
    display: inline-block;
    padding: 16px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul .li-button-sign {
    height: 30px !important;
    background-color: #26AE77 !important;
    margin: 20px 0 !important;
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    color: #FFFFFF;
}

.col .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    color: #000000;
}

select option {
    background-color: #1443BD;
}

.col select option {
    background-color: #1443BD;
    color: #FFFFFF;
}

select option[selected] {
    color: #FFFFFF !important;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 17px 20px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.hidden-spacer {
    height: 56px
}

.sign-in {
    height: 30px;
    width: 100px;
    background-color: #1443BD;
    border: none;
    color: white;
    padding: 0px !important;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    vertical-align: middle !important;

}

.sign-in:hover {
    background-color: RoyalBlue;
}

.bg-sio1 {
    padding-top: 400;
    left: 0;
    float: left;
    width: 500px;
    position: absolute;
    float: left;
    z-index: -10 !important;

}

.bg-sio1 img {
    opacity: 0.1;
}

.bg-sio2 {
    padding-top: 200;
    right: 0;
    float: right;
    width: 700px;
    position: absolute;
    float: left;
    z-index: -10 !important;

}

.bg-sio2 img {
    opacity: 0.1;
}


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    margin-left: 10px;
}

.btn-xl:hover {
    -webkit-transform: scale(1.1);
    background: #1443BD;
    color: #fff;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.produk-button-premi {
    margin-right: 30px;
    border-radius: 20px;
    color: #1443bd;
    font-size: 12px;
    background-color: #fff;
}

/* END HEADER */

/* START PREMI */
.sio-left {
    float: left;
    width: 30%;
    background-color: #fff;

}

.sio-right {
    padding: 20px;
    float: left;
    width: 70%;
    background-color: #F3F6FC;

}

.sio-right1 {
    background: #0E2C7A;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    height: 70px;
}

.left-sio-right1 {
    float: left !important;
    text-align: left;
    width: 70px;
    background-color: #0e2c7a;
}

.right-sio-right1 {
    float: left;
    width: 200px;
    height: 60px;
    color: #fff;
}

.sio-right2 {
    border-radius: 0 0 5px 5px;
    height: 70px;
    background: #26AE77;

}

.right-sio-right2-1 {
    width: 40%;
    float: left;
    color: #fff;
    padding: 5px;
}

.right-sio-right2-2 {
    padding-right: 10px;
}

.premi-th {
    color: red;
    font-size: 15px;
    font-weight: bold;
    padding: 0px;
    text-decoration: line-through;
    text-align: right;
}

.premi-disc {
    color: red;
    font-size: 8px;
    padding: 3px 0px 0px 2px;
    text-align: left;
}


.right-sio-right2-1 h5 {
    color: red !important;
    font-size: 8x !important;
}

/* END PREMI */

/*----------step-wizard------------*/
.line {
    border-top: 1px solid #70BD44;
    padding-top: 20px;
    width: 94%;
    left: 31px;
    position: relative;
}

.stepText {
    text-align: center;
}

.stepText h5 {
    color: #1443BD;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.stepText h6 {
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #777777;
}


.step-icon {
    width: 30%;
    float: left;
}

.step {
    width: 50px;
    height: 50px;
    border: 6px solid #1443BD;
    /* background: blue; */
    border-radius: 100px;
    /* margin-top: 30px; */
    transition: 0.4s;
    text-align: center !important;
    margin: 0 auto;
}

.step i {
    font-size: 30px !important;
    color: #1443BD;
    padding: 5 0 0 0;
}

.line-icon {
    width: 70%;
    float: left;

}

.fa-line1 {
    margin: 22px 0 0 0;
    padding: 0 !important;
    float: left;
    width: 100%;
    border: 1px solid #26AE77;
}

.fa-line2 {
    margin: 22px 0;
    width: 100%;
    border: 1px solid #26AE77;
}

.step1 {
    /* margin-bottom: -10px; */
    /* text-align: center; */

}

.step2 {
    /* margin: 0 auto; */
    /* margin-bottom: -10px; */
    /* text-align: center; */

}

.step3 {
    /* text-align: center; */

    /* margin-bottom: -10px; */
}

.step4 {
    /* text-align: center; */

    /* margin-bottom: -10px; */
}

.active {
    background: #70BD44;
    width: 50px;
    height: 50px;
}

.read {
    background: #1443BD;
    color: #FFFFFF;
}

/* 
.read2 {
    background: #1443BD;
    color: #FFFFFF;
}

.read3 {
    background: #1443BD;
    color: #FFFFFF;
}

.read4 {
    background: #1443BD;
    color: #FFFFFF;
} */
.dis-button1-ya {
    background: #777777;
    color: #FFFFFF;
    border: 2px solid #777777;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.dis-button1-tidak {
    background: #777777;
    color: #FFFFFF;
    border: 2px solid #777777;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.dis-button2-ya {
    background: #777777;
    color: #FFFFFF;
    border: 2px solid #777777;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.dis-button2-tidak {
    background: #777777;
    color: #FFFFFF;
    border: 2px solid #777777;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.dis-button3-ya {
    background: #777777;
    color: #FFFFFF;
    border: 2px solid #777777;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.dis-button3-tidak {
    background: #777777;
    color: #FFFFFF;
    border: 2px solid #777777;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.dis-button4-ya {
    background: #777777;
    color: #FFFFFF;
    border: 2px solid #777777;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.dis-button4-tidak {
    background: #777777;
    color: #FFFFFF;
    border: 2px solid #777777;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.disabled1 {
    background: #777777 !important;
    color: #FFFFFF !important;
    border: 2px solid #777777 !important;
}

.disabled2 {
    background: #777777 !important;
    color: #FFFFFF !important;
    border: 2px solid #777777 !important;
}

.disabled3 {
    background: #777777 !important;
    color: #FFFFFF !important;
    border: 2px solid #777777 !important;
}

.disabled4 {
    background: #777777 !important;
    color: #FFFFFF !important;
    border: 2px solid #777777 !important;
}

.disabled5 {
    background: #777777 !important;
    color: #FFFFFF !important;
    border: 2px solid #777777 !important;
}

.step-paragraph-active {
    background: #70BD44;

}

.step-paragraph-disabled {
    background-color: #777777;
    color: #FFFFFF;
}

/* not important */
.autoCenter {
    margin: 50px auto;
    width: 345px;
    box-sizing: border-box;
}

.btn-ya1 {

    background-color: #fff;
    border: 2px solid #1443BD;
    color: #1443BD;
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
}

.btn-ya1:hover {
    background-color: #1443BD;
    border: 2px solid #1443BD;
    color: #fff;
}

.btn-tidak1 {
    width: 100px;
    border: 2px solid #1443BD;
    background-color: #1443BD;
    color: #fff;
    padding: 5px 0;
    border-radius: 20px;
}

.btn-tidak1:hover {
    background-color: #fff;
    border: 2px solid #1443BD;
    color: #1443BD;
}

.btn-ya2 {
    width: 100px;
    background-color: #fff;
    border: 2px solid #1443BD;
    color: #1443BD;
    padding: 5px 0;
    border-radius: 20px;
}

.btn-ya2:hover {
    background-color: #1443BD;
    border: 2px solid #1443BD;
    color: #fff;
}

.btn-tidak2 {
    width: 100px;
    border: 2px solid #1443BD;
    background-color: #1443BD;
    color: #fff;
    padding: 5px 0;
    border-radius: 20px;
}

.btn-tidak2:hover {
    background-color: #fff;
    border: 2px solid #1443BD;
    color: #1443BD;
}

.btn-ya3 {
    width: 100px;
    background-color: #fff;
    border: 2px solid #1443BD;
    color: #1443BD;
    padding: 5px 0;
    border-radius: 20px;
}

.btn-ya3:hover {
    background-color: #1443BD;
    border: 2px solid #1443BD;
    color: #fff;
}

.btn-tidak3 {
    width: 100px;
    border: 2px solid #1443BD;
    background-color: #1443BD;
    color: #fff;
    padding: 5px 0;
    border-radius: 20px;
}

.btn-tidak3:hover {
    background-color: #fff;
    border: 2px solid #1443BD;
    color: #1443BD;
}

.btn-ya4 {
    width: 100px;
    background-color: #fff;
    border: 2px solid #1443BD;
    color: #1443BD;
    padding: 5px 0;
    border-radius: 20px;
}

.btn-ya4:hover {
    background-color: #1443BD;
    border: 2px solid #1443BD;
    color: #fff;
}

.btn-tidak4 {
    width: 100px;
    border: 2px solid #1443BD;
    background-color: #1443BD;
    color: #fff;
    padding: 5px 0;
    border-radius: 20px;
}

.btn-tidak4:hover {
    background-color: #fff;
    border: 2px solid #1443BD;
    color: #1443BD;
}

.btn-lanjut {
    width: 200px;
    border: 2px solid #1443BD;
    background-color: #1443BD;
    color: #fff;
    padding: 5px 0;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}

.btn-lanjut:hover {
    background-color: #fff;
    border: 2px solid #1443BD;
    color: #1443BD;
}

/*----------step-wizard------------*/

/* START FOOTER */
.text-body-secondary {
    color: #fff !important;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.modal-button {
    width: 150px;
    background-color: #1443BD;
    border: none;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin: 30px 0;
    padding: 3px 25px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
}

.modal-button-edit {
    width: 150px;
    background-color: #fff;
    border: none;
    color: #1443BD;
    margin: 0 auto;
    text-align: center;
    margin: 30px 0;
    padding: 3px 25px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
}

.col-footer-image {
    height: 200px !important;
}

.medsos {
    margin-top: 1290px;
}

.footer-image {
    width: 300px;
    top: -120px;
    position: relative;
}

.bg-icon {
    top: -185;
    left: 15;
    width: 200px;
    position: relative;
    float: right;
}

.footer-logo {
    width: 20%;
    float: left;
}

.footer-copy {
    width: 75%;
    float: left;
}

.footer-border {
    border-right: 3px solid white;
    text-align: center;
    margin: 0 auto;
    height: 60px;
}

.copy-right {
    color: #fff;
    font-size: 14px;
    padding-top: 20px;
    margin-left: 10px;
    text-align: left !important;
}

/* END FOOTER */


@media (min-width: 992px) {
    .bg-sio2 {
        padding-top: 400px;
        width: 400px !important;

    }

    .bg-sio2 img {
        width: 400px !important;
    }



}

@media (min-width: 768px) and (max-width: 991px) {

    .bg-sio2 {
        padding-top: 400px;
        width: 400px !important;

    }

    .bg-sio2 img {
        width: 400px !important;
    }

}

@media (min-width: 768px) {}

@media (min-width: 600px) and (max-width: 767px) {
    .bg-sio1 {
        padding-top: 900;
        width: 300px !important;
    }

    .bg-sio1 img {
        width: 400px !important;
    }

    .bg-sio2 {
        padding-top: 400px;
        width: 400px !important;

    }

    .bg-sio2 img {
        width: 400px !important;
    }

    .sio-left {
        float: left;
        width: 100%;
    }

    .sio-right {
        float: left;
        width: 100%;
    }


}

@media (max-width: 599px) {
    .bg-sio1 {
        padding-top: 900;
        width: 300px !important;
    }

    .bg-sio1 img {
        width: 400px !important;
    }

    .bg-sio2 {
        padding-top: 400px;
        width: 400px !important;
    }

    .bg-sio2 img {
        width: 400px !important;
    }

    nav {
        height: 190px !important;
    }

    .icon-konten1 {
        width: 200px;
        text-align: center;
        margin: 0 auto;
    }

    .logo {
        top: 0;
        padding: 5px 10px;
        margin: 4px;
    }

    .fa-bars {
        color: #fff;
    }

    .logo img {
        width: 70px;
    }

    nav ul {
        max-height: 0px;
        background: #0E2C7A;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        height: 40px;
        display: block;
        background: #0E2C7A;
        padding: 17px 30px;
        font-size: 20px;
    }

    .menu-icon i {
        font-size: 24px;
    }

    .sio-left {
        float: left;
        width: 100%;
    }

    .sio-right {
        float: left;
        width: 100%;

    }

    .premi-th {
        color: red;
        width: 70%;
    }

    .premi-disc {
        width: 30% !important;

    }

    .simulcol-footer-imageasi-right {
        float: left;
        width: 100%;
    }

}

@media (min-width: 300px) and (max-width: 399px) {

    .sio-right {
        float: left;
        width: 100%;
        height: 620px;
    }

    .sio-left {
        float: left;
        width: 100%;
    }

    .left-sio-right1 {
        width: 30%;
        float: left;
    }

    .right-sio-right1 {
        float: left;
        width: 70%;
    }

    .sio-right2 {
        height: 110px;
    }

    .right-sio-right2-1 {
        width: 100%;
    }

    .right-sio-right2-2 {
        width: 100%;
        background-color: red !important;
    }


    .bg-sio1 {
        padding-top: 900;
        width: 300px !important;
    }

    .bg-sio1 img {
        width: 300px !important;
    }

    .bg-sio2 {
        width: 200px !important;
    }

    .bg-sio2 img {
        width: 200px !important;
    }

    .footer-image {
        width: 200px;
    }
}

@media (max-width: 299px) {
    .bg-sio1 {
        padding-top: 2900;
        width: 200px !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .bg-sio1 img {
        width: 200px !important;
    }

    .bg-sio2 {
        width: 200px !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .bg-sio2 img {
        width: 200px !important;
    }


    .sio-right {
        float: left;
        width: 100%;
        height: 680px;
    }

    .sio-right {
        float: left;
        width: 100%;
    }

    .left-sio-right1 {
        width: 30%;
        float: left;
    }

    .right-sio-right1 {
        float: left;
        width: 70%;
    }

    .sio-right2 {
        height: 110px;
    }

    .right-sio-right2-1 {
        width: 100%;
    }

    .right-sio-right2-2 {
        width: 100%;
        background-color: red !important;
    }

    .bg-sio1 {
        padding-top: 400;
        width: 200px !important;
    }

    .bg-sio1 img {
        width: 200px !important;
    }

    .bg-sio2 {
        padding-top: 200;
        width: 200px !important;
    }

    .bg-sio2 img {
        width: 200px !important;
    }


    .footer-image {
        width: 200px !important;
    }
}